<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myfirstapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo3"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstApp"
        tools:targetApi="34">
        <activity
            android:name=".OrderChange"
            android:exported="false" />
        <activity
            android:name=".OrderView"
            android:exported="false" />
        <activity
            android:name=".OrdersCustomer"
            android:exported="false" />
        <activity
            android:name=".OrdersOwner"
            android:exported="false" />
        <activity
            android:name=".AccountShopper"
            android:exported="false" />
        <activity
            android:name=".CartPage"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false" />
        <activity
            android:name=".ItemPreview"
            android:exported="false" />
        <activity
            android:name=".StoreHome"
            android:exported="false" />
        <activity
            android:name=".Home_Customer"
            android:exported="false" />
        <activity
            android:name=".checkoutPage"
            android:exported="false" />
        <activity
            android:name=".ProductEditPage"
            android:exported="false" />
        <activity
            android:name=".home_seller"
            android:exported="false" />
        <activity
            android:name=".WhoAreYouPage"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".SignUp_Customer"
            android:exported="false" />
        <activity
            android:name=".SignUp_Owner"
            android:exported="false" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>